
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="portfolio-item-only-photo">
        <a href="img/portfolio/portfolio-big.png" data-lightbox="mygallery">
            <div class="img">
                <div class="hover-overlay">
                    <img src="img/icons/loupe.png">
                </div>
            </div>
        </a>
    </div>
</div>
