<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div class="portfolio-item">

        <div class="img-with-footer">
            <a href="specific-portfolio.html">
                <div class="img">
                    <div class="hover-overlay">
                        <i class="fas fa-search"></i>
                    </div>
                    <img src= "img/portfolio/bedroom-1.jpg">
                </div>
            </a>
            <div class="img-footer">
                <a href="specific-portfolio.html">Название проекта</a>
            </div>
        </div>

        <div class="description">
            Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии
            Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии
        </div>

        <div class="footer-portfolio-item">
            <div class="date">
                <i class="fas fa-calendar-alt"></i>
                29.09.2018
            </div>
            <div class="cost">
                <i class="fas fa-money-bill-wave"></i>
                27 000 Р
            </div>
        </div>
    </div>
</div>
