<section class="specific-portfolio-description">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="date">
                <i class="fas fa-calendar-alt"></i>
                29.09.2018
            </div>
            <div class="description">
                Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета
            </div>
        </div>
        <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12">
            <img class="description-img" src="img/portfolio/portfolio-big.png">
        </div>
    </div>
</section>