<section id="service-description">
    <div class="description-title">Услуги</div>
    <section id="service-type" class="col-12">
        <ul>
            <li><a class="list-item active" href="#">Ремонт кварт</a></li>
            <li><a class="list-item" href="#">Ремонт балконов</a></li>
            <li><a class="list-item" href="#">Отделка кухни</a></li>
            <li><a class="list-item" href="#">Ремонт дачных участков</a></li>
            <li><a class="list-item" href="#">Отделка кухни</a></li>
        </ul>
    </section>
    <div class="container content">
        <div class="subtitle">Lorem Ipsum</div>
        <div class="description">
            <p>является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. </p>
        </div>
        <div class="subtitle">Lorem Ipsum</div>
        <div class="description">
            <p>является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. </p>
        </div>
    </div>
</section>
