
<section id="side-bar">
    <ul class="list">
        <li class="list-item active"><a href="#">Ремонт квартир</a></li>
        <li class="list-item"> <a href="#">Ремонт квартир</a></li>
        <li class="list-item"> <a href="#">Ремонт квартир</a></li>
        <li class="list-item"><a href="#">Ремонт квартир</a></li>
    </ul>
</section>
