
<div class="container">
<!--    путь к странице-->
    <div class="breadcrumbs path">
        <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная - </a>Услуги
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <!--категории услуг-->
            <section id="side-bar">
                <ul class="list">
                    <?php foreach ($this->categories as $category) : ?>
                        <li class="list-item <?php echo ($category == $this->current) ? 'active' : '';?>">
                            <a href="<?php echo $this->url(array('alias' => $category['alias']), '/services');?>">
                                <?php echo $category['title'];?>
                            </a>
                        </li>
                    <?php endforeach;?>
                </ul>
            </section>

        </div>

        <div id="service-description" class="col-lg-8 offset-lg-1 col-md-8 col-sm-12 col-xs-12">
            <!--услуги категорий-->
            <section id="service-type">
                <ul class="services-items">
                    <?php foreach ($this->services as $service) : ?>
                        <li>
                            <a href="<?php echo $this->url(array('alias' => $service['alias']), '/services/showAlias');?>" class="list-item">
                                <?php echo $service['title'];?>
                            </a>
                        </li>
                    <?php endforeach;?>
                </ul>
            </section>

            <div class="content">
                <div class="description">
                    <div class="subtitle"></div>
                    <!--описания услуг-->
                    <p><?php if (isset($this->description['description']) && !empty($this->description['description'])) : ?>
                        <?php echo $this->description['description'];?>
                        <?php endif;?></p>
                </div>
            </div>
        </div>
    </div>
</div>

<?php echo $this->action('create-request', 'index', 'default');?>




