<section id="work-types">
   <div class="row">
       <?php foreach ($this->category as $item) : ?>
           <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
               <div class="one-type" style="margin-bottom: 40px!important;">
                    <div class="title">
                        <a href="">
                            <?php echo $item['title'];?>
                        </a>
                    </div>
                    <div class="img">
                        <img src="img/country-house.jpg" class="img-responsive">
                   </div>
                   <ul class="list">
                        <?php echo $this->action('services-type-item', 'index', 'services', ['category-item' => $item['alias']]);?>
                   </ul>

               </div>
           </div>
       <?php endforeach; ?>
   </div>
</section>