<ul class="paginator" style="color: #0c0;">
    <?php foreach($this->pagesInRange as $page): ?>
        <?php if($page != $this->current): ?>
            <li> <a class="page-active" href="<?php echo $this->url(array('page' => $page)); ?>"> <?php echo $page; ?> </a> </li>
        <?php else: ?>
            <li> <p  class="page"> <?php echo $page; ?> </p> </li>
        <?php endif; ?>
    <?php endforeach; ?>
</ul>