<div class="container">
    <div class="path">
        <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная - </a>Портфолио
    </div>
    <div class="description-title">Портфолио</div>
    <div class="row">
        <?php foreach ($this->items as $item) : ?>
            <?php foreach ($item['items'] as $work) : ?>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="portfolio-item">
                        <div class="img-with-footer">
                            <a href="<?php echo $this->url(['module' => 'portfolio', 'controller' => 'index', 'action' => 'show', 'alias' => $work['alias']], '/portfolio/show', true);?>" class="thumb-info">
                                <div class="img">
                                    <div class="hover-overlay">
<!--                                        <img src="--><?php //echo $this->baseUrl();?><!--/img/icons/loupe.png" class="icon">-->
                                        <i class="fas fa-search"></i>
                                    </div>
                                     <img alt="" class="img-responsive"
                                          src="<?php echo $this->baseUrl() . DIRECTORY_SEPARATOR . $work['images'][0]['image']; ?>">
                                </div>
                            </a>
                            <div class="img-footer">
                                <a href="<?php echo $this->baseUrl() . DIRECTORY_SEPARATOR . $work['images'][0]['image']; ?>">
                                   <?php echo $work['title']; ?>
                                </a>
                            </div>
                        </div>

                        <div class="description">
                            <?php echo $work['description']; ?>
                        </div>
                        <div class="footer-portfolio-item">
                            <div class="date">
                                <i class="fas fa-calendar-alt"></i>
<!--                                --><?php //echo $work['date'];?>
                                <?php echo date('d.m.Y', strtotime($work['date']));?>
                            </div>
                            <div class="cost">
                                <i class="fas fa-money-bill-wave"></i>
                                <?php echo $work['price']; ?> Р
                            </div>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </div>

    <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml', array('pattern' => '/testimonials')); ?>
</div>

<?php echo $this->action('create-request', 'index', 'default');?>

