<div class="contacts container">
    <div class="path">
        <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная - </a>
        <?php echo $this->page['title']; ?>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <section id="contact-info">
                <div class="description-title">Наши Контакты</div>
                <p>Свяжитесь с нами сегодня, чтобы узнать как мы можем помочь вам.</p>

                <div class="list-contact">
                    <div class="list-contact-item row">
                        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-6">
                            <img src="<?php echo $this->baseUrl();?>/img/contact/address.png" class="img-responsive">
                        </div>
                        <div class="contact-item col-lg-9 col-md-10 col-sm-10 col-xs-6">
                            <div class="title">Наш адрес</div>
                            <p> <?php echo $this->data['address']; ?></p>
                        </div>
                    </div>

                    <div class="list-contact-item row">
                        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-3">
                            <img src="<?php echo $this->baseUrl();?>/img/contact/phone.png" class="img-responsive">
                        </div>
                        <div class="contact-item col-lg-9 col-md-10 col-sm-10 col-xs-6">
                            <div class="title">Наш телефон</div>
                            <p><?php echo $this->data['phone']; ?> </p>
                        </div>
                    </div>

                    <div class="list-contact-item row">
                        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-6">
                            <img src="<?php echo $this->baseUrl();?>/img/contact/mail.png" class="img-responsive">
                        </div>
                        <div class="contact-item col-lg-9 col-md-10 col-sm-10 col-xs-6">
                            <div class="title">Наша почта</div>
                            <p><?php echo $this->data['email']; ?></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-7 offset-lg-1 col-md-12 col-sm-12 col-xs-12">
            <?php echo $this->action('question-form', 'index', 'default');?>
        </div>
    </div>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5d264b5c1db569f7a2dec81c6a38b8a14f2d5ef56e3943c098a3c907bff43321&amp;width=100%&amp;height=330&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>
