<div class="container">
    <div class="path">
        <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная - </a>
            <?php echo $this->page['title']; ?>
    </div>

    <section id="about-description">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-12">
                <div class="description-title">О компании</div>
                <div class="description">
                    Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах.
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
                <div class="multi-layered-img">
                    <img src="<?php echo $this->baseUrl();?>/img/about/rectangle.png" class="second-img">
                    <img src="<?php echo $this->baseUrl();?>/img/about/about.png" class="first-img">
                </div>
            </div>

        </div>
    </section>
    <?php echo $this->action('index', 'index', 'certificates');?>
</div>

<?php echo $this->action('create-request', 'index', 'default');?>