<section class="question-form">
    <form>
       <div class="form-header">
           <div class="form-title">Есть вопрос? Напишите нам!</div>
       </div>
        <div class="form-content row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <input type="text" class="" id="question-input-name" placeholder="Имя" required>
                <input type="text" class="" id="question-input-phone" placeholder="Телефон" required>
                <div class="d-lg-none d-xl-none">
                    <textarea type="message" class="message-bottom question-sending" id="" placeholder="Сообщение" required></textarea>
                </div>

                <div class="main-button question-sending" id="">Отправить</div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <textarea type="message" class="message-right" placeholder="Сообщение" required></textarea>
            </div>
        </div>
    </form>
</section>