<!DOCTYPE html>
<html>
<head>
	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<?php echo $this->headTitle(); ?>
	<?php echo $this->headMeta(); ?>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/css/slick.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/css/slick-theme.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/css/lightbox.min.css" rel="stylesheet">
    <!--    fontawesome-->
    <link href="<?php echo $this->baseUrl(); ?>/css/all.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,cyrillic-ext" rel="stylesheet">

    <!-- Theme Custom CSS -->
<!--    <link href="--><?php //echo $this->baseUrl(); ?><!--/css/lightslider.css" rel="stylesheet">-->
    <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/main.css">

<!--	<link rel="shortcut icon" type="image/png" href="--><?php //echo $this->baseUrl();?><!--/images/common/favicon.png" />-->

</head>
<body>

<!--    <form method="post" action="">-->
<!--        <input type="text" name="name" placeholder="Имя" required>-->
<!--        <input name="phone" placeholder="Телефон" required>-->
<!--        <button type="submit" id="send-button">ОТПРАВИТЬ</button>-->
<!--    </form>-->


<?php
$action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
$module = Zend_Controller_Front::getInstance()->getRequest()->getModuleName();
$controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
$alias = Zend_Controller_Front::getInstance()->getRequest()->getParam('alias');
/* @var Zend_View $this*/
?>

<!--подключаем header-->
<?php echo $this->action('header', 'index', 'default');?>
<?php echo $this->action('call-modal', 'index', 'default');?>
<?php echo $this->action('thanks-modal', 'index', 'default');?>

<?php
if ($messages = $this->layout()->errorMessages) {  echo $messages; }
if ($messages = $this->layout()->messages) { echo $messages; }
?>
<br />
<?php echo $this->layout()->content; ?>
<?php echo $this->action('footer', 'index', 'index');?>

<?php //echo $this->action('modal-window', 'index', 'hotelrooms');?>

<script type="text/javascript">
    var config = {
        //hotelroom: {
        //    request: '<?php //echo $this->url(['action' => 'ajax-request', 'controller' => 'index', 'module' => 'hotelrooms'], 'default', true);?>//',
        //    successUrl: '<?php //echo $this->url(['action' => 'success-request', 'controller' => 'index', 'module' => 'hotelrooms'], 'default', true);?>//',
        //    changeCategoryUrl: '<?php //echo $this->url(['action' => 'categories-ajax', 'controller' => 'index', 'module' => 'hotelrooms'], 'default', true);?>//',
        //}
        callModal: {
            request: '<?php echo $this->url(['action' => 'feedback', 'controller' => 'index', 'module' => 'default'], 'default', true);?>',
            successUrl: '<?php echo $this->url(['action' => 'feedback-success', 'controller' => 'index', 'module' => 'default'], 'default', true);?>'
        }
    };
</script>

<script src="<?php echo $this->baseUrl(); ?>/js/jquery.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/bootstrap.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/slick.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/lightbox.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/main.js"></script>

<!--<script type="text/javascript" src="--><?php //echo $this->baseUrl(); ?><!--/js/lightslider.js"></script>-->


<!--ajax запрос пример-->
<script>
$(document).ready(function() {
    $('#send-button').click(function () {
        $.ajax ({
            type: "post",
            url: config.callModal.request,
            success: function (response) {
                alert(response.toSource());
                if (typeof response.success !== 'undefined') {
                    alert('hurray');
                } else {
                    alert('error');
                }
            },
            error: function () {

            },
            dataType: 'json',
            data: {
                name: $('#feedbackName').val(),
                asdas: $('#feedbackPhone').val()
            }
        });
        return false;
    });
});
</script>

</body>
</html>
