<div class="reviews">
    <div class="container">
        <div class="path">
            <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная - </a>Отзывы
        </div>
        <div class="description-title">Оставьте отзыв о нас</div>
    </div>
<!---->
<!--    <section class="create-review" >-->
<!--        <div class="container">-->
<!--           <form class="review-form row">-->
<!--               <div class="col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-xs-12">-->
<!--                   <input type="text" class="" id="inputName" placeholder="Имя">-->
<!--                   <input type="text" class="" id="inputPhone" placeholder="Телефон">-->
<!--                   <div class="d-lg-none d-xl-none">-->
<!--                       <textarea type="message" class="message-bottom" placeholder="Сообщение"></textarea>-->
<!--                   </div>-->
<!--                   <button class="main-button" type="submit">Отправить</button>-->
<!--               </div>-->
<!--               <div class="d-none d-lg-block col-lg-7 ">-->
<!--                   <textarea type="message" class="message-right" placeholder="Сообщение"></textarea>-->
<!--               </div>-->
<!--           </form>-->
<!--        </div>-->
<!--    </section>-->

    <?php echo $this->action('create-review', 'index', 'reviews');?>

    <div class="container">
        <div class="row">
            <?php foreach ($this->paginator as $item) : ?>
                <div class="col-lg-4">
                <div class="review-item">
                    <div class="img">
                    <!-- Добавляем картиночку-->
                          <img src="<?php echo $this->baseUrl() .'/' . $this->reviewsImage($item['photo']);?>" class="img-responsive">
                    </div>
                    <div class="title"><?php echo $item['title']; ?></div>
                    <div class="message">
                        <?php echo $item['answer'];?>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    </div>

     <button class="show-more">Показать еще</button>
</div>

