<div class="breadcrumbs">
    <ul>
        <li>
            <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная</a>
        </li>
        <li class="breadcrumb-separator">
            >
        </li>
        <li>
            Отзывы
        </li>
    </ul>
</div>

<div class="news-item">
    <div class="news">
        <h4>
            <?php echo $this->review['title'];?>
        </h4>
        <img src="<?php echo $this->baseUrl() . '/' . $this->reviewsImage($this->review->photo);?>" class="img-responsive" alt="<?php echo $this->news['title']; ?>" />
        <div class="content">
            <div class="desc">
                <?php echo $this->review['answer']; ?>
            </div>
            <hr />
            <div class="desc">
                <?php echo $this->review['description']; ?>
            </div>
        </div>
    </div>
</div>