<section class="achievements-slider">
    <?php foreach ($this->certificates as $certificate) : ?>
        <div class="slider-item">
            <a href="<?php echo $this->baseUrl() . '/images/certificates/' . ($certificate['image']);?>" data-lightbox="slider-images">
                <img class="slider-img" src="<?php echo $this->baseUrl() . '/images/certificates/' . ($certificate['image']);?>" alt="достижения"/>
            </a>
        </div>
    <?php endforeach; ?>
</section>




<!--<div class="container cont_left_block">-->
<!--    <div class="row">-->
<!--        <div class="block_left_abs_menu hidden-sm hidden-lg hidden-md">-->
<!--            меню услуги-->
<!--        </div>-->
<!---->
<!--        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col_answers">-->
<!--            <div class="nav_pole">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a href="--><?php //echo $this->url(array(), '/static/index/home');?><!--">Главная</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        >-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="--><?php //echo $this->url([], '/specialists', true);?><!--">Специалисты</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        >-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <span class="active_nav">Сертификаты</span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!---->
<!--            <h1 class="h3_title">Лицензии и сертифифкаты</h1>-->
<!--            <div class="block_answ_quest">-->
<!--                <div class="line_red_questions"></div>-->
<!--            </div>-->
<!--            --><?php //foreach ($this->paginator as $item) { ?>
<!--                <div class="row row_license">-->
<!--                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-3">-->
<!--                        <a href="--><?php //echo $this->baseUrl() . '/' .$this->certificatesImage($item['image']);?><!--" class="fancybox">-->
<!--                            <img src="--><?php //echo $this->baseUrl() . '/' .$this->certificatesImage($item['image']);?><!--" class="img-responsive">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-9 text_sertif">-->
<!--                        <div>--><?php //echo $item['title']; ?><!--</div>-->
<!--                        <div>--><?php //echo $item['description']; ?><!--</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            --><?php //} ?>
<!--            --><?php //echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); ?>
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
