@img-height: 255px;
@between: 17px;
@second-img-top: 75px;
@first-img-top: -(@img-height + @between) + @second-img-top;

#about-description{
    margin-bottom: -50px;
    .multi-layered-img{

        .first-img{
            top: @first-img-top;
            z-index: 5;
            margin-left: 22px;
            position: relative;
        }
        .second-img{
            top: @second-img-top;
            z-index: 1;
            position: relative;
        }
    }
}