#callModal{
    .modal-content{
        width: 490px;
        height: 300px;
        //background-color: #fff;
        border-radius: 0!important;
        padding: 20px 40px 30px 40px;
        text-align: center!important;
        font-size: 15px;
        color: #3A3A3A;

        .modal-title{
            font-size: 20px!important;
            font-weight: bolder;
            color: #3A3A3A;
        }
        p{
            margin-bottom: 20px;
            color: #7c7c7c;
            font-size: 15px;
        }
        input{
            width: 100%;
            margin-bottom: 30px;
            height: 40px;
            background: #f1f1f1;
            border-radius: 0;
            border: none;
        }
        .send-button{
            width: 230px;
            height: 53px;
            background: #FFC702;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
            border: none;
            margin-right: auto;
            margin-left: auto;
            padding-top: 7px;
        }
    }
    .close{
        text-align: right;
        right: 10px;
        top: 0;
        color: @orange;
        position: absolute;
        width: 40px;
        opacity: 1;
        span{
            font-size: 40px;
            font-weight: lighter;
        }
    }
}
