@input-width:266px;
@input-height:35px;
@between:28px;

.create-review{
    background-image: url("../img/review/overlay.png"), url("../img/review/review-bg.png");
    background-blend-mode: multiply;
    width: 100%!important;
    background-repeat: no-repeat;
    margin-bottom: 48px;
    padding-top: 55px;
    background-size: cover!important;
    min-height: 310px!important;

    .review-form{
        margin-right: auto;
        margin-left: auto;

        @input-width:266px;
        @input-height:35px;
        @between:28px;

        input, .message-right, .message-bottom{
            background: #fff;
            border-radius: 0;
            border: none;
            font-size: 14px;
            color: #9B9B9B;
            padding-left: 15px;
        }
        input{
            height: @input-height;
            margin-bottom: @between;
            width: @input-width;
        }

        .main-button{
            width: @input-width;
            height: @input-height;
        }
        .message-right{
            width: 610px;
            height: @input-height * 3 + @between * 2!important;
            padding-top: 8px;
            margin-right: 40px;
            display: inline-block;
        }
        .message-bottom{
            width: @input-width;
            height: 100px;
            padding-top: 8px;
            padding-left: 15px;
            margin-bottom: @between;
        }
    }
}

@media screen, (max-width: 720px) {
    .create-review .review-form .form-content{
        width: 100%;
        text-align: center;

        .form-title{
            text-align: center;
        }
        input, textarea {
            margin-left: auto;
            margin-right: auto;
        }
        input{
            display: block;
        }
    }
}