.navbar {
    height: 48px;
    width: 100%;
    text-align: center!important;

    /*background: @navbarBackgroundColor;*/
    background: #3A3A3A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);

    & ul{
        margin-right: auto;
        margin-left: auto;
        & li {
            margin-left: 20px;
            margin-right: 20px;
        }
        & .nav-link{;
            font-size: 15px;
            text-transform: capitalize;
            color: #FFFFFF;
        }
        & .active-decorate {
            color: #FFC702 !important;
            border: #FFC702 solid 2px;
            border-top:none ;
            cursor: pointer;
            bottom: -2px!important;
            left: -12px;
            height: 10px;

            padding-bottom: 0!important;
        }
        & .active {
            & a{
                color: #FFC702 !important;
            }
        }
    }
}


//
//.navbar ul {
//    margin-right: auto;
//    margin-left: auto;
//}
//
//.navbar ul li {
//    margin-left: 20px;
//    margin-right: 20px;
//}

//.navbar .nav-item .nav-link{;
//    font-size: 15px;
//    text-transform: capitalize;
//    color: #FFFFFF;
//}

//.navbar .active-decorate {
//    color: #FFC702 !important;
//    border: #FFC702 solid 2px;
//    border-top:none ;
//    cursor: pointer;
//    bottom: -2px!important;
//    left: -12px;
//    height: 10px;
//
//    padding-bottom: 0!important;
//}

.navbar .active a{
    color: #FFC702 !important;
}