.question-form{
    background: #F7F7F7;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    width: 664px;
    padding: 40px;
    margin-bottom: 40px;

    @input-width:266px;
    @input-height:35px;
    @between:28px;

    input, .message-right, .message-bottom{
        background: #fff;
        border-radius: 0;
        border: none;
        font-size: 14px;
        color: #9B9B9B;
        padding-left: 15px;
    }
    input{
        height: @input-height;
        margin-bottom: @between;
        width: @input-width;
    }

    .main-button{
        width: @input-width;
        height: @input-height;
    }

    .message-right{
        width: 300px;
        height: @input-height * 3 + @between * 2!important;
        padding-top: 8px;
        margin-right: 40px;
    }
    .message-bottom{
        width: @input-width;
        height: 100px;
        padding-top: 8px;
        padding-left: 15px;
        margin-bottom: @between;
    }

    .form-title{
        font-size: 20px;
        color: #353535;
        text-align: left;
        margin-bottom: 20px;
    }
}

////для маленьких
@media screen, (max-width: 720px) {
    .question-form .form-content{
        width: 100%;
        text-align: center;

        .form-title{
            text-align: center;
        }

        input, textarea {
            margin-left: auto;
            margin-right: auto;
            //display: block;
        }
        input{
            display: block;
        }
    }
}
//// для больших экранов
//@media (min-width: 600px) {
//    .question-form {
//        .message-bottom{
//            display: none;
//        }
//        .message-right{
//            display: inline-block;
//        }
//    }
//}