.slider{
    margin-bottom: 75px;
    .slider-item {
        .slider-img{
            width: 270px;
            height: 220px;
            margin: 0 10px;
        }
    }
}

.achievements-slider{
    .slider-item a {
        height: 220px!important;
        .slider-img{
            height: 220px!important;
            max-width: 300px;
            margin: 0 10px;
        }
    }
}

.slick-dots li button:before {
    font-family: 'slick';
    color: #C4C4C4;
    font-size: 40px!important;
    opacity: 1;
    line-height: 20px;
}
.slick-dots li.slick-active button:before {
    color:#FFC702 !important;
}

.slick-slide {
    max-height: 220px!important;
}