#thanksModal{
    .modal-content{
        width: 470px;
        height: 210px;
        overflow: hidden;
        border-radius: 0!important;
        padding: 40px 30px 0 30px;
        text-align: left;
        font-size: 15px;
        color: #3A3A3A;

        .modal-title{
            margin-top: 20px;
            font-size: 18px!important;
            font-weight: bolder;
            color: #3A3A3A;
        }

    }
    .close{
        text-align: right;
        right: 10px;
        top: 0;
        color: @orange;
        position: absolute;
        width: 40px;
        opacity: 1;
        span{
            font-size: 40px;
            font-weight: lighter;
        }
    }
}
