<footer>
    <div class="container footer-main-content">
        <div class="row">
            <div class="col-lg-2 logo d-none d-lg-block">
                <img src="<?php echo $this->baseUrl();?>/img/logo/footerLogo.png" class="img-responsive" />
            </div>
            <div class="col-lg-4 footer-navbar d-none d-lg-block">
                <ul class="row offset-lg-1">
                    <div class="col-lg-6">
                        <li class="<?php echo ($this->alias == 'home' && $this->module == 'static') ? 'active' : '';?>">
                            <a href="<?php echo $this->url(array(), '/', true);?>">Главная</a>
                        </li>
                    </div>
                    <div class="col-lg-6">
                        <li class="<?php echo ($this->module == 'services') ? 'active' : '';?>">
                            <a href="<?php echo $this->url([], '/services', true);?>">Услуги</a>
                        </li>
                    </div>
                    <div class="col-lg-6">
                        <li class="<?php echo ($this->alias == 'about' && $this->module == 'static') ? 'active' : '';?>">
                            <a href="<?php echo $this->url(array('alias' => 'about'), '/static/index/index');?>">О компании </a>
                        </li>
                    </div>
                    <div class="col-lg-6">
                        <li class="<?php echo ($this->alias == 'contacts' && $this->module == 'static') ? 'active' : '';?>">
                            <a href="<?php echo $this->url(array('alias' => 'contacts'), '/static/index/index');?>">Контакты</a>
                        </li>
                    </div>
                    <div class="col-lg-6">
                        <li class="<?php echo ($this->module == '') ? 'portfolio' : '';?>">
                            <a href="<?php echo $this->url([], '/portfolio', true);?>">Портфолио</a>
                        </li>
                    </div>
                    <div class="col-lg-6">
                        <li class="<?php echo ($this->module == '') ? 'reviews' : '';?>">
                            <a href="<?php echo $this->url([], '/reviews', true);?>">Отзывы</a>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Контакты</div>
                <div class="footer-contacts">
                    <div class="contact-item">
                        <i class="fas fa-phone fa-flip-horizontal"></i>
                        <span> <?php echo $this->data['phone'];?></span>
                    </div>
                    <div class="contact-item">
                        <i class="fas fa-map-marker-alt"></i>
                        <span> <?php echo $this->data['address'];?></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Соц. сети</div>
                <div class="footer-socials">
                    <div class="socials-item">
                        <a><i class="fab fa-vk"></i>vk.com/chinimstroim</a>
                    </div>
                    <div class="socials-item">
                        <a><i class="fab fa-instagram"></i>instagram.com/chinistroi</a>
                    </div>
                    <div class="socials-item">
                        <a><i class="fab fa-facebook-f"></i>facebook.com/chinistroi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright"><i class="fas fa-star"></i>ВЕБ-СТУДИЯ ITROCKS 2018</div>
</footer>
